<h2>Home</h2>
<form>
  <div class="form-group">
    <input class="form-control" name="title" type="text" placeholder="Card Title">
    <input class="btn btn-primary" type="submit" value="Query">
  </div>
</form>
