<h2>Home</h2>
<form id="solr-query" action=" ">
  <div class="form-group">
    <input id="title-field" class="form-control" name="title" type="text" placeholder="Card Title">
    <input class="btn btn-primary" type="submit" value="Query">
  </div>
  <div id="results">

  </div>
</form>
